.product-card {
  padding-bottom: 82px;

  @media (max-width: 992px) {
    padding-bottom: 33px;
  }

  @media (max-width: 576px) {
    padding-bottom: 70px;
  }

  &__blocks {
    display: flex;
    gap: 32px;

    --offsets: 1;
    --gap: 32px;

    @media (max-width: 992px) {
      flex-direction: column;
      gap: 82px;

      --offsets: 0;
      --gap:0;
    }

    @media (max-width: 576px) {
      gap: 16px;
    }
  }

  &__blocks:not(:last-child) {
    margin-bottom: 111px;

    @media (max-width: 1200px) {
      margin-bottom: 82px;
    }

    @media (max-width: 576px) {
      margin-bottom: 32px;
    }
  }

  &__blocks--gap {
    @media (max-width: 992px) {
      gap: 32px;
    }
  }

  &__block {
    width: calc((100% - var(--gap) * var(--offsets)) / (var(--offsets) + 1));
  }

  &__block:nth-child(2n + 1) {
    @media (max-width: 1200px) {
      width: calc((100% - var(--gap) * var(--offsets)) / (var(--offsets) + 1) + 13%);
    }
  }

  &__block--width {
    @media (max-width: 992px) {
      max-width: 85%;
    }

    @media (max-width: 576px) {
      max-width: 100%;
    }
  }

  &__block--display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__star {
    @include textReset;
    @include darkMenuText;
    color: $orangeColor;

    &::before {
      content: '';
      display: inline-block;
      margin-right: 6px;
      width: 16px;
      height: 15px;
      background-image: url('../img/star.svg');
    }
  }

  &__amendment {
    @include textReset;
    @include grayMenuText;
  }

  &__price {
    @include textReset;

    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 36px;
    line-height: 47px;
    color: $darkGrayColor;

    @media (max-width: 576px) {
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 24px;
      line-height: 31px;
    }
  }

  &__shopping {
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
  }

  &__link {
    display: inline-block;

    @include btnMain;
    @include btnViolet;

    font-weight: 600;
  }

  &__btn {
    font-size: 16px;
    line-height: 21px;
    color: $violetColor;
    transition: all 0.3s ease-in-out;

    &:focus {
      outline: none;
      color: $darkGrayColor;
      background-color: $hoverColor;
    }

    &:hover {
      background-color: transparent;
      color: $hoverColor;
    }

    &:active {
      color: $activeColor;
    }
  }

  &__text {
    @media (max-width: 992px) {
      margin-bottom: 32px;
    }
  }

  &__caption {
    @include textReset;
    @include darkMenuText;

    margin-bottom: 8px;
    font-weight: 600;
    line-height: 16px;
  }

  &__descr {
    @include textReset;
    @include productCardText;
  }

  &__parameters {
    @include listReset;

    @media (max-width: 576px) {
      gap: 8px;
    }
  }

  &__point {
    display: flex;
    justify-content: space-between;

    @media (max-width: 576px) {
      flex-direction: column;
    }
  }

  &__param {
    @include productCardText;

    color: $grayColor;

    @media (max-width: 576px) {
      font-size: 10px;
      line-height: 13px;
    }
  }

  &__dot {
    flex: 1 0;
    border-bottom: 1px dotted $grayColor;

    @media (max-width: 576px) {
      display: none;
    }
  }

  &__character {
    @include productCardText;

    flex-basis: 216px;

    @media (max-width: 576px) {
      flex-basis: auto;
      line-height: 19px;
    }
  }
}
