html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  margin: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}

fieldset {
  padding: 0;
  border: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.page {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  min-width: 320px;
}

.address-reset {
  font-style: normal;
}

.visualy-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
