//Width
$containerMaxWidth: 1352px;
$borderRadius: 10px;
$paddingCards: 30px;
$gapGrid: 32px;
$gapCards: 30px;

//Colors
$orangeColor: #ff862f;
$grayColor: #999;
$grayColor666: #666;
$darkGrayColor: #333;
$violetColor: #a65cf0;
$bgGrayColor: #f6f6f6;
$whiteColor: #fff;
$footerGrayColor: #eaeaea;
$focusColor: #ebd1ff;
$activeColor: #7033ac;
$hoverColor: #c998fb;
$violetBgColor: #f8efff;
